# 공공데이터포털 중앙선거관리위원회_후보자 정보 API 키
# https://www.data.go.kr/data/15000908/openapi.do
NEC_CANDIDATE_API_KEY=여기에_후보자정보_API키_입력

# 공공데이터포털 중앙선거관리위원회_선거공약 정보 API 키
# https://www.data.go.kr/data/15040587/openapi.do
NEC_PLEDGE_API_KEY=여기에_선거공약_API키_입력
